<div style="padding:20px">

  <h3>Posts</h3>

  <button (click)="toggleForm()">Add Post</button>

  <p *ngIf="errorMessage" style="color:red">
    {{ errorMessage }}
  </p>

  <form *ngIf="showForm" (ngSubmit)="submitPost()">
    <input
      type="text"
      placeholder="Title"
      [(ngModel)]="newPost.title"
      name="title"
      required
    />
    <br /><br />

    <textarea
      placeholder="Body"
      [(ngModel)]="newPost.body"
      name="body"
      required
    ></textarea>
    <br /><br />

    <button type="submit">Submit</button>
  </form>

  <br />

  <table border="1" width="100%">
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Body</th>
    </tr>

    <tr *ngFor="let post of posts">
      <td>{{ post.id }}</td>
      <td>{{ post.title }}</td>
      <td>{{ post.body }}</td>
    </tr>
  </table>

</div>

